<section class="hero">
  <div class="container-lg">
    <div class="card border-0">
      <div class="card-body py-5">
        <div class="row">
          <div class="col-lg-6 pt-4">
            <h1 class="lh-1 mb-4">Разработка программного обеспечения на заказ</h1>
            <p class="lead">
              Услуга разработки программного обеспечения (ПО) предназначена для организаций,
              использующие уникальные и нестандартные бизнес-процессы
              и для которых не подходят существующие на IT-рынке предложения.
              Лидеры отрасли понимают, что внедрение передовых технологий сделает бизнес конкурентоспособным
              и обеспечит им лидирующее место в своей отрасли.
              Для таких организаций мы предлагаем полный цикл разработки с нуля,
              отвечающей всем потребностями Заказчика.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/hero/graphics.svg" alt="graphics" class="w-100">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
