<section class="our-team bg-body-tertiary">
  <div class="container-lg">
    <h2 class="display-4 fw-bold text-center lh-1">Наша команда</h2>
    <p class="lead text-muted mb-lg-5 text-center">
      Мы - группа высококвалифицированных программистов,<br>
      собравшихся вместе для создания качественного программного обеспечения.
    </p>
    <div class="row">
      <div class="col-3">
        <div class="card border-light shadow shadow-sm text-center">
          <div class="card-body py-4">
            <img src="assets/img/team/photo-1.jpeg" class="w-50 rounded-circle mb-4 shadow" alt="...">
            <h5 class="card-title">Кальпебаев Медет</h5>
            <p class="card-text text-muted">Программист</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card border-light shadow shadow-sm text-center">
          <div class="card-body py-4">
            <img src="assets/img/team/photo-1.jpeg" class="w-50 rounded-circle mb-4 shadow" alt="...">
            <h5 class="card-title">Кальпебаев Медет</h5>
            <p class="card-text text-muted">Программист</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card border-light shadow shadow-sm text-center">
          <div class="card-body py-4">
            <img src="assets/img/team/photo-1.jpeg" class="w-50 rounded-circle mb-4 shadow" alt="...">
            <h5 class="card-title">Кальпебаев Медет</h5>
            <p class="card-text text-muted">Программист</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card border-light shadow shadow-sm text-center">
          <div class="card-body py-4">
            <img src="assets/img/team/photo-1.jpeg" class="w-50 rounded-circle mb-4 shadow" alt="...">
            <h5 class="card-title">Кальпебаев Медет</h5>
            <p class="card-text text-muted">Программист</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
