.reasons {
  padding: 100px  0;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--bs-white);
}

.card {
  transition: all 300ms ease-in;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px rgba(29, 58, 83, .15);
  }
}
