.services {
  padding: 100px  0;
}

.icon {
  width: 64px;
  height: 64px;
  background-color: var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-white);
}
